@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --vp-c-brand: #646cff;
  --vp-c-brand-light: #747bff;
  --vp-c-brand-lighter: #747bff;
  --vp-c-brand-dark: #9196ff;
  --vp-c-brand-darker: #242fff;
}

.outline-marker {
  width: 8px !important;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.planPill {
  border-radius: 0.25rem;
  padding-left: 0.25rem;
  padding-right: 0.25rem;
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  border-width: 2px;
  border-style: solid;
}

.planPill.personal {
  color: rgb(22 101 52);
  background-color: rgb(220 252 231);
  border-color: rgb(187 247 208);
}

.planPill.business {
  color: rgb(107 33 168);
  background-color: rgb(243 232 255);
  border-color: rgb(233 213 255);
}

.VPDoc.has-aside .content-container {
  max-width: unset !important;
}

code {
  .listItemIndicator {
    @apply dark:text-yellow-300 text-yellow-700;
  }
  .checkboxItemIndicator {
    @apply dark:text-yellow-300 text-yellow-700;
  }
  .frontMatterDelimiter {
    @apply dark:text-zinc-500 text-zinc-400;
  }
  .headerKey {
    @apply dark:text-stone-400 text-stone-500;
  }
  .headerKeyColon {
    @apply text-zinc-500;
  }
  .headerValue {
    @apply dark:text-slate-400 text-slate-500;
  }
  .propertyKey {
    @apply dark:text-stone-400 text-stone-500;
  }
  .propertyValue {
    @apply dark:text-slate-400 text-slate-500;
  }
  .propertyKeyColon {
    @apply text-zinc-500;
  }
  .recurrence {
    @apply text-orange-700 dark:text-orange-400;
  }
  .dateRange {
    @apply text-amber-800 dark:text-amber-500;
  }
  .dateRangeColon {
    @apply dark:text-zinc-400 text-zinc-500;
  }
  .comment {
    @apply text-zinc-500 dark:text-zinc-400;
  }
  .tag {
    @apply text-blue-800 dark:text-blue-300;
  }
}